# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv
poetry.lock
.pdm.toml
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
reports/
*.log
.DS_Store

site/